body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('snowman-321034.jpg');
    background-size: cover;
    background-position: bottom;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}

.greetings {
    font-size: 20rem;
    text-align: center;
    color: white;
    font-family: 'Caveat', cursive;
}

.LTPic {
    align-self: center;
}

p {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 2rem;
    font-family: 'Caveat', cursive;
    padding: 1rem .5rem;
    transition: all .07s ease;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
}

h2 {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 2rem;
    font-family: 'Caveat', cursive;
    padding: 1rem .5rem;
    transition: all .07s ease;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
}

h1 {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 2rem;
    font-family: 'Caveat', cursive;
    padding: 1rem .5rem;
    transition: all .07s ease;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
}